$font-1st: "Madefor", "Cerebri Sans", "Gilroy", "Roboto";
$font-2nd: 'CooperBlack', serif;

$color-1st: #f68773;
$color-2nd: #222222;
$color-3rd: #5e6b9d;
$color-heading: #222;
$color-text: #999;
$color-dark: #161824;
$color-link: #000;

$color-success: #30DB58;
$color-warning: #FFCE1E;
$color-danger: #FF3C35;
$color-gray: #9e9e9e;
$color-facebook: #3b5999;
$color-twitter: #55acee;
$color-google: #dd4b39;
$color-linkedin: #0077B5;
$color-instagram: #0077B5;
$document-font-size: 16px;

$timing: cubic-bezier(0.77, 0, 0.175, 1);
$timing-1: cubic-bezier(0.7, 0, 0.3, 1);
$timing-2: cubic-bezier(0.2, 1, 0.3, 1);
$timing-3: cubic-bezier(0.4, 0, 0.2, 1);
